*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(101, 13, 54);
    text-align: center;
}
h1{
    font-size: 6vmin;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:13vmin;
    width:13vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    color: black;
    background-color: rgb(253, 253, 250);
}

#msg {
    color: rgb(246, 246, 243);
    background-color: rgb(209, 47, 122);
    font-size: 5vmin;
}

.msg-container{
    height:30vmin;
}

.hide {
    display:none;
}
